@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
.julius-sans-one-bold {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 800;
    font-style: normal;
}
body {
    font-family: Arial, sans-serif !important;
}
.navbar{
    background-color: #281549;
}
.navbar-brand{
    display: flex;
    align-items: center
}
.navbar-brand > h3{
    margin-bottom: 0;
}
.navbar-toggler {
    border-color: #ffffff !important;
}
.navbar-toggler-icon {
    filter: invert(1);
}
.navbar-brand > h3,
.navbar-nav .nav-link {
    color: #ffffff !important;
}
.navbar-nav .nav-link {
    font-size: 20px;
}
.navbar-brand > img{
    height: 60px;
}
.team-member img {
    width: 100px;
    border-radius: 50%;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse{
        justify-content: flex-end;
    }
}
/*------------------------------------------------*/
.background-container{
    max-height: 768px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.background-container > img{
    width: 75%;
    object-fit: cover;
    transform: translate(9%, 0px);
    z-index: -1;
    overflow: visible;
}
.background-container > video{
    width: 25%;
    object-fit: cover;
}
.hero-banner{
    position: relative;
}
.hero-banner > .btn-container > a{
    margin-top: 200px;
    padding: 10px 46px;
    background-color: #004aad;
    width: max-content;
    display: flex;
    text-decoration: none;
    border-radius: 15px;
}
.hero-banner > .btn-container > a > p{
    font-size: 24px;
    text-align: center;
    width: max-content;
    margin-bottom: 0;
    color: #ffffff;
}
/*------------------------------------------------*/
.samples{
    background-color: #281549;
}
.samples-container{
    display: flex;
    flex-direction: row;
}

.samples .card-sample{
    max-width: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}
.samples .image-container{
    height: 518px;
    
}
@media (max-width: 1199px) {
    .samples .image-container {
      height: calc(100vh - 480px);
    }
    .samples{
        gap: 15px;
    }
}
.samples .image-container img{
    height: 100%;
    border-radius: 70px;
    object-fit: cover;
}
.samples .card-title > h5{
    color: #ffffff !important;
    text-align: center;
    margin-top: 25px;
    font-weight: 800;
}
body.modal-open {
    background-color: rgba(0, 0, 0, 0.5);
}
.card-sample .buy-now {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
}
.more-sample{
    padding: 30px 0 60px;
    display: flex;
    justify-content: center
}
.more-sample > a{
    text-decoration: none;
    color: #ffffff;
    background-color: #004aad;
    font-size: 40px;
    padding: 18px 60px;
    font-weight: 600;
    border-radius: 30px;
}
.more-sample > a:hover {
    background-color: #0066cc; /* Slightly lighter shade of blue */
    transform: translateY(-3px); /* Slight upward movement */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}


footer {
    background-color: #1A1A33; /* Dark purple background */
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: sans-serif; /* Or your preferred font */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
  }

  footer a:hover {
    text-decoration: underline;
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .copyright img {
    height: 20px; /* Adjust as needed */
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ffffff;
  }
 